@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them!
*/

/* Tailwind Styles */


.rating li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    font-size: 19px;
    border: 1px rgba(238, 238, 238, 0.452) solid;
    transition: 0.3s;
    color: #fff;
    position: relative;
    width: 2rem;
    height: 2rem;
    background-color: #eee;

    & label {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        color: #000000;
    }
}

.rating li:hover {
    background: #F7931A;
    color: #fff;

    & label {
        color: #fff;
    }
}

[type="radio"] {
    opacity: 0;
}

[type="radio"]:checked ~ label {
    background: #F7931A;
    color: #fff;
}


.main_background {
    @apply bg-gray-300
}

.main_button {
    @apply btn main_background rounded-none py-2.5 px-2.5  border border-black whitespace-nowrap h-fit font-medium capitalize hover:cursor-pointer disabled:cursor-not-allowed disabled:text-gray-500
}

.black_button {
    @apply bg-black text-white rounded-none py-2.5 px-2.5  border border-black whitespace-nowrap h-fit
}

.icon_button {
    @apply main_background rounded-full h-6 w-6 border border-black whitespace-nowrap flex items-center justify-center hover:bg-gray-400 hover:text-white
}

.nav_button_square {
    @apply w-[70px] h-[70px] rounded-none main_background grid place-items-center
}

.page_title {
    @apply w-fit bg-black text-white rounded-none text-h3 py-5 px-2.5
}

.item_padding {
    @apply py-2.5 px-2.5
}

.section_title_cap {
    @apply border-black whitespace-nowrap main_background text-body1 py-2.5 px-2.5 border-l border-r border-t
}

/*// spent scenarios*/
.section_title {
    @apply text-body1 py-2.5 px-2.5
}

.section_desc {
    @apply whitespace-nowrap text-body1 py-2.5 px-2.5
}

.app {
    @apply box-border h-screen relative z-10 grid place-items-center mx-auto  px-8 py-8 max-w-[1500px];
}

.main_frame {
    @apply border border-gray-700  h-full w-full
}

.main_frame_no_padding {
    @apply border border-gray-700 h-full w-full
}

.frame_padding {
    @apply px-6 py-6
}

.input_field {
    @apply text-body2 bg-gray-200 py-2.5 px-2.5 focus-visible:border-none disabled:text-gray-400 disabled:bg-gray-200 disabled:cursor-not-allowed
}

.desc {
    @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.copy_btn {
    @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.prompt_layout {
    @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

.main_table {
    @apply w-full table-auto border-separate border-spacing-2
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-start {
    @apply flex justify-start items-start;
}

.flex-end {
    @apply flex justify-end items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}


/*typography*/
.h1_ibmPlexMono {
    @apply font-ibmPlexMono text-h1 font-semibold
}

.h2_ibmPlexMono {
    @apply font-ibmPlexMono text-h2 font-semibold
}

.h1_source_serif {
    @apply font-rubikMonoOne text-h1 font-semibold
}

.field_label {
    @apply label-text uppercase font-medium flex gap-x-1
}

